body {
  background-color: #dbdbda;
}

.pageHeader {
  font-style: italic;
  padding: 3px;
  border-radius: 1em;
  background-color: #c37cb9;
  width: 100%;
  text-align: center;
  font-size: 4em;
}

.form-control {
  width: 50%;
}

.message {
  display: none;
  font-style: italic;
  font-size: 2em;
}

.result {
  display: none;
  margin: 10px;
}

.result img {
  float: left;
  width: 50%;
  height: auto;
  padding: 10px;
}

.sumatra  .jumbotron {
  background-color: #b7cca7;
  border: 3px solid black;
}

.iceland .jumbotron {
  background-color: #c6d0d4;
  border: 3px solid black;
}

.patagonia .jumbotron {
  background-color: #ffdada;
  border: 3px solid black;
}
