body {
  background-color: yellow;
}

.result {
  display: none;
  margin: 10px;
}

.result img {
  float: left;
  width: 50%;
  height: auto;
  padding: 10px;
}



.sumatra  .jumbotron {
  background-color: #b7cca7;
}

.iceland .jumbotron {
  background-color: #c6d0d4;
}

.patagonia .jumbotron {
  background-color: #ffdada;
}
